                
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                  <li><a href="#">Accueil</a></li>
                  <li class="active">Critères</li>
                </ul>
              <!-- END BREADCRUMB -->                                                
                              
              <!-- PAGE TITLE -->
              <div class="page-title">                    
                  <h2><span class="fa fa-columns"></span> Critères Profil</h2>
              </div>
              <!-- END PAGE TITLE -->                   
              
              <!-- PAGE CONTENT WRAPPER -->
              <div class="page-content-wrap">
                  
                  <div class="row">                        
                      <div class="col-md-9">
                          <div class="panel panel-default">
                              <div class="panel-body">                            
                                  <div class="tocify-content">
                                    <h2>Compétences</h2>
                                    <app-competence></app-competence> 
                                    <h2>Langues</h2>
                                    <app-langues></app-langues>
                                    <h2>Secteur d'activitées</h2>
                                   <app-secteur-activite></app-secteur-activite>
                                   <h2>Situation Familiale</h2>
                                  <app-situation-familiale></app-situation-familiale>
                                  <h2>Type de Contrat</h2>
                                 <app-type-contrat></app-type-contrat>
                                 <h2>Type de Profil</h2>
                                <app-type-profil></app-type-profil>
                                  </div> 
                              </div>
                          </div>
                      </div>
                      <div class="col-md-3" style="position: relative;">
                          <div id="tocify"></div>
                      </div>
                  </div>
                  
                  
                  
              </div>
              <!-- END PAGE CONTENT WRAPPER -->