
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                  <li><a href="#">Accueil</a></li>
                  <li class="active">Critères</li>
                </ul>
              <!-- END BREADCRUMB -->                                                
                              
              <!-- PAGE TITLE -->
              <div class="page-title">                    
                  <h2><span class="fa fa-columns"></span> Critères Profil</h2>
              </div>
              <!-- END PAGE TITLE -->                   
              
              <!-- PAGE CONTENT WRAPPER -->
              <div class="page-content-wrap">
                  
                <div class="col-md-12">
                    <!-- START TABS -->                                
                    <div class="panel panel-default tabs">                            
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#tab-first" role="tab" data-toggle="tab">Compétences</a></li>
                            <li><a href="#tab-second" role="tab" data-toggle="tab">Langues</a></li>
                            <li><a href="#tab-third" role="tab" data-toggle="tab">Secteur d'activitées</a></li>
                            <li><a href="#tab-fourth" role="tab" data-toggle="tab">Situation Familiale</a></li>
                            <li><a href="#tab-five" role="tab" data-toggle="tab">Type de Contrat</a></li>
                            <li><a href="#tab-six" role="tab" data-toggle="tab">Type de Profil</a></li>
                            <li><a href="#tab-seven" role="tab" data-toggle="tab">Mots cles</a></li>
                        </ul>                            
                        <div class="panel-body tab-content">
                            <div class="tab-pane active" id="tab-first">
                                <app-competence></app-competence>
                            </div>
                            <div class="tab-pane" id="tab-second">
                                <app-langues></app-langues>
                            </div>
                            <div class="tab-pane" id="tab-third">
                               <app-secteur-activite></app-secteur-activite>
                            </div>
                            <div class="tab-pane" id="tab-fourth">
                                <app-situation-familiale></app-situation-familiale>
                            </div>
                            <div class="tab-pane" id="tab-five">
                                <app-type-contrat></app-type-contrat>
                            </div>
                            <div class="tab-pane" id="tab-six">
                                <app-type-profil></app-type-profil>
                            </div> 
                            <div class="tab-pane" id="tab-seven">
                                <app-mot-cles></app-mot-cles>
                            </div>
                        </div>
                    </div>                                                   
                    <!-- END TABS -->                        
                </div>
                  
                  
                  
              </div>
              <!-- END PAGE CONTENT WRAPPER -->