
            <!-- START BREADCRUMB -->
            <ul class="breadcrumb push-down-0">
              <li><a href="#">Accueil</a></li>
              <li><a href="#">Profiles</a></li>
              <li class="active">Nouveau profil</li>
          </ul>
          <!-- END BREADCRUMB -->

          <div class="page-title">
              <h2><span class="fa fa-arrow-circle-o-left"></span>Nouveau Profile</h2>
          </div>
<div class="page-content-wrap">

  <div class="row">
      <div class="col-md-12">

          <!-- START WIZARD WITH VALIDATION -->
          <div class="block">
              <form action="javascript:alert('Validated!');" role="form" class="form-horizontal"
                  id="wizard-validation">
                  <div class="wizard show-submit wizard-validation">
                      <ul>
                          <li>
                              <a href="#step-7">
                                  <span class="stepNumber">1</span>
                                  <span class="stepDesc">Salarié<br /><small>Informations
                                          personnel</small></span>
                              </a>
                          </li>
                          <li>
                              <a href="#step-8">
                                  <span class="stepNumber">2</span>
                                  <span class="stepDesc">Formation<br /><small>Détails</small></span>
                              </a>
                          </li>
                      </ul>

                      <div id="step-7">
                          <div class="form-group">
                              <label class="col-md-2 control-label">Nom</label>
                              <div class="col-md-6">
                                  <input type="text" class="form-control" name="nom"
                                      placeholder="Nom Salarié" />
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-md-2 control-label">Prenom</label>
                              <div class="col-md-6">
                                  <input type="text" class="form-control" name="prenom"
                                      placeholder="Prénom Salarié" />
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-md-2 control-label">Email</label>
                              <div class="col-md-6">
                                  <input type="email" class="form-control" name="email"
                                      placeholder="Email Salarié" />
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-md-2 control-label">Telephone</label>
                              <div class="col-md-6">
                                  <input type="number" class="form-control" name="tel"
                                      placeholder="Téléphone Salarié" />
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-md-2 control-label">Cin</label>
                              <div class="col-md-10">
                                  <input type="text" class="form-control" name="cin"
                                      placeholder="Cin Salarié" />
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-md-2 control-label">Adresse</label>
                              <div class="col-md-10">
                                  <input type="text" class="form-control" name="adr"
                                      placeholder="Adresse Salarié" />
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-md-2 control-label">Date de naissance</label>
                              <div class="col-md-5">
                                  <input type="text" class="form-control datepicker" value="2014-08-04"
                                      name="dateNaiss">
                              </div>
                          </div>
                      </div>

                      <div id="step-8">

                          <div class="form-group">
                              <label class="col-md-2 control-label">Intitulé</label>
                              <div class="col-md-10">
                                  <input type="text" class="form-control" name="intitule"/>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-md-2 control-label">Établissement</label>
                              <div class="col-md-10">
                                  <input type="text" class="form-control" name="etablissement" />
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-md-2 control-label">Adresse</label>
                              <div class="col-md-10">
                                  <input type="text" class="form-control" name="adress"/>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-md-2 control-label">Date Début</label>
                              <div class="col-md-5">
                                  <input type="text" class="form-control datepicker" value="2014-08-04"
                                      name="dateDebut">
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-md-2 control-label">Date Fin</label>
                              <div class="col-md-5">
                                  <input type="text" class="form-control datepicker" value="2014-08-04"
                                      name="dateFin">
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-md-2 control-label">Détail</label>
                              <div class="col-md-10">
                                  <textarea class="form-control" rows="5"></textarea>
                              </div>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
          <!-- END WIZARD WITH VALIDATION -->

      </div>

  </div>

</div>
<!-- PAGE CONTENT WRAPPER -->

