<!-- START BREADCRUMB -->
<ul id="impression" class="breadcrumb push-down-0">
    <li><a href="#">Accueil</a></li>
    <li><a href="#">CVThèque</a></li>
    <li class="active">Création CV</li>
</ul>
<!-- END BREADCRUMB -->

<!-- START CONTENT FRAME -->
<div class="content-frame">
    <!-- START CONTENT FRAME TOP -->
    <div id="impression" class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-arrow-circle-o-left"></span> Création CV</h2>
        </div>
        <div class="pull-right">
            <button class="btn btn-default content-frame-left-toggle"><span class="fa fa-bars"></span></button>
        </div>
        <input type="button" class="pull-right btn btn-info" value="Télécharger CV" (click)="captureScreen()" />

        <div class="pull-right" style="width: 200px; margin-right: 5px;">
            <div class="ts-themes">
                <a href="#" class="active" data-theme="assets/css/theme-default.css" style="margin-right: 5px;"><img
                        src="assets/img/themes/default.jpg" /></a>
                <a href="#" data-theme="assets/css/theme-brown.css" style="margin-right: 5px;"><img
                        src="assets/img/themes/brown.jpg" /></a>
                <a href="#" data-theme="assets/css/theme-blue.css" style="margin-right: 5px;"><img
                        src="assets/img/themes/blue.jpg" /></a>
                <a href="#" data-theme="assets/css/theme-white.css" style="margin-right: 5px;"><img
                        src="assets/img/themes/light.jpg" /></a>
                <a href="#" data-theme="assets/css/theme-black.css" style="margin-right: 5px;"><img
                        src="assets/img/themes/black.jpg" /></a>
            </div>
        </div>

    </div>
    <div class="content-frame-left">
        <div class="form-group">
            <h4>Blocks:</h4>
            <div class="list-group border-bottom">
                <a href="#" class="list-group-item" data-toggle="modal" data-target="#ModalFormation">
                    <span class="fa fa-circle text-primary"></span> Diplômes et Formations</a>
                <a href="#" class="list-group-item" data-toggle="modal" data-target="#ModalExp">
                    <span class="fa fa-circle text-primary"></span> Expériences professionnelles</a>
                <a href="#" class="list-group-item" data-toggle="modal" data-target="#ModalComp">
                    <span class="fa fa-circle text-primary"></span> Compétences</a>
                <a href="#" class="list-group-item" data-toggle="modal" data-target="#ModalLng">
                    <span class="fa fa-circle text-primary"></span> Langues</a>
                <a href="#" class="list-group-item" data-toggle="modal" data-target="#ModalSa">
                    <span class="fa fa-circle text-primary"></span> Secteurs d'activités</a>
                <a href="#" class="list-group-item" data-toggle="modal" data-target="#ModalSf">
                    <span class="fa fa-circle text-primary"></span> Situations familiales</a>
                <a href="#" class="list-group-item" data-toggle="modal" data-target="#ModalTp">
                    <span class="fa fa-circle text-primary"></span> Types Profil</a>
                <a href="#" class="list-group-item" data-toggle="modal" data-target="#ModalTc">
                    <span class="fa fa-circle text-primary"></span> Types Contrats</a>
            </div>
        </div>
        <div class="form-group">
            <h4>Tags:</h4>
            <ul class="list-tags">
                <li><a href="#"><span class="fa fa-tag"></span> amet</a></li>
                <li><a href="#"><span class="fa fa-tag"></span> rutrum</a></li>
                <li><a href="#"><span class="fa fa-tag"></span> nunc</a></li>
                <li><a href="#"><span class="fa fa-tag"></span> tempor</a></li>
                <li><a href="#"><span class="fa fa-tag"></span> eros</a></li>
                <li><a href="#"><span class="fa fa-tag"></span> suspendisse</a></li>
                <li><a href="#"><span class="fa fa-tag"></span> dolor</a></li>
            </ul>
        </div>

    </div>
    <!-- END CONTENT FRAME TOP -->

    <!-- START CONTENT FRAME BODY -->
    <div id="cv" class="content-frame-body">

        <div class="row push-up-10">
            <div class="col-md-5">
                <div id="tasks" class="tasks profile">

                    <div>
                        <div class="profile-image">
                            <button *ngIf="editPhoto == 1" (click)="onEditPhoto()">
                                <img src="{{service.host+'/photoProfilCV/'+cv.profil.codeProfil}}" alt="User profil" />
                            </button>
                            <button *ngIf="editPhoto == 0" (click)="onEditPhoto()">
                                <img src="{{service.host+'/photoProfilCV/'+cv.profil.codeProfil}}" alt="User profil" />
                            </button>
                            <p *ngIf="editPhoto == 1">
                                <input type="file" (change)="onSelectFile($event)">
                                <button class="btn btn-success" (click)="uploadPhoto()">Upload</button>
                                {{progress}}
                            </p>
                        </div>

                        <div class="profile-data">
                            <div class="profile-data-name">{{cv.nomCV}}</div>
                            <div class="profile-data-title">{{cv.posteDesire}}</div>
                        </div>
                    </div>

                    <div class="task-item panel panel-default push-up-10">

                        <div class="panel-body padding-top-0">
                            <div class="task-warning">

                                <div class="panel-body list-group">
                                    <div class="list-group-item"><span class="fa fa-user"></span>{{cv.profil.email}}
                                    </div>
                                    <div class="list-group-item"><span class="fa fa-cog"></span>Né le
                                        {{cv.profil.dateNaissance}} </div>
                                    <div class="list-group-item"><span class="fa fa-bar-chart-o"></span> Pérmis de
                                        conduire {{cv.profil.permisConduite}} </div>
                                    <div class="list-group-item"><span
                                            class="fa fa-sign-out"></span>{{cv.profil.adresse}}</div>
                                    <div class="list-group-item"><span class="fa fa-sign-out"></span> {{cv.profil.tel}}
                                    </div>
                                    <div class="list-group-item"><span class="fa fa-sign-out"></span> situation
                                        familiale {{selectedSf.nom}}</div>
                                </div>



                            </div>
                        </div>
                    </div>
                    <div *ngIf="blockLng==1" class="task-item panel panel-primary panel-hidden-controls">
                        <div class="panel-heading">
                            <h3 class="panel-title">Langues</h3>
                            <ul class="panel-controls">
                                <li><a data-toggle="modal" data-target="#BlockLng"><span class="fa fa-plus"></span></a>
                                </li>
                                <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>

                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="task-warning" *ngFor="let lng of selectedLngs">
                                <div class="task-header">
                                    <div class="pull-left">{{lng.nom}}</div>
                                </div>
                                <div class="task-text">
                                    <div class="progress progress-small">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="75"
                                            aria-valuemin="0" aria-valuemax="100" style="width: 75%;">{{lng.niveau}}
                                        </div>
                                    </div>
                                    {{lng.detail}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="tasks" id="tasks_progreess">
                    <div *ngIf="blockFormation==1" class="task-item panel panel-primary panel-hidden-controls">
                        <div class="panel-heading">
                            <h3 class="panel-title">Diplômes et Formations</h3>
                            <ul class="panel-controls">
                                <li><a href="#" data-toggle="modal" data-target="#BlockFormation"><span
                                            class="fa fa-plus"></span></a></li>
                                <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>

                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="task-warning" *ngFor="let formation of selectedFormations">
                                <div class="task-header">
                                    <div class="pull-left">De {{formation.dateDebut}} à {{formation.dateFin}}</div>
                                </div>
                                <div class="task-text">
                                    {{formation.intitule}} / {{formation.etablissement}}, {{formation.lieu}}
                                    {{formation.details}}
                                </div>

                            </div>
                        </div>
                    </div>
                    <div *ngIf="blockExp==1" class="task-item panel panel-primary panel-hidden-controls">
                        <div class="panel-heading">
                            <h3 class="panel-title">Expériences professionnelles</h3>
                            <ul class="panel-controls">
                                <li><a data-toggle="modal" data-target="#BlockExp"><span class="fa fa-plus"></span></a>
                                </li>
                                <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>

                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="task-warning" *ngFor="let exp of selectedExps">
                                <div class="task-header">
                                    <div class="pull-left">De {{exp.dateDebut}} à {{exp.dateFin}}</div>
                                </div>
                                <div class="task-text">
                                    {{exp.poste.libellePost}}, {{exp.societe.nomSociete}}<br>
                                    {{exp.descriptionRole}} au département de {{exp.departement}}
                                </div>

                            </div>
                        </div>
                    </div>
                    <div *ngIf="blockComp==1" class="task-item panel panel-primary panel-hidden-controls">
                        <div class="panel-heading">
                            <h3 class="panel-title">Compétences</h3>
                            <ul class="panel-controls">
                                <li><a data-toggle="modal" data-target="#BlockComp"><span class="fa fa-plus"></span></a>
                                </li>
                                <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>

                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="task-warning" *ngFor="let comp of selectedComps">
                                <div class="task-header">
                                    <div class="pull-left">{{comp.nom}}</div>
                                </div>
                                <div class="task-text">
                                    <div class="progress progress-small">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="75"
                                            aria-valuemin="0" aria-valuemax="100" style="width: 75%;">{{comp.niveau}}
                                        </div>
                                    </div>
                                    {{comp.detail}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- END CONTENT FRAME BODY -->

</div>
<!-- END CONTENT FRAME -->

<!-- MODALS -->
<div id="BlockFormation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="taskEditModalHead"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Fermer</span></button>
                <h4 class="modal-title" id="taskEditModalHead">Modifier Block Fromation</h4>
            </div>
            <form class="form-horizontal" #f="ngForm" (ngSubmit)="createFormation(f.value)">
                <div class="modal-body">
                    <div class="form-group">
                        <ng-multiselect-dropdown class="col-md-4" [placeholder]="'Choisir formation'"
                            [data]="dlformation" name="formation" #role="ngModel" [(ngModel)]="sIformation"
                            [settings]="dropdownSettings" (onSelect)="onIS($event)" (onDeSelect)="onIDS($event)">
                        </ng-multiselect-dropdown>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END MODALS -->

<!-- MODALS -->
<div id="BlockExp" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="taskEditModalHead"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Fermer</span></button>
                <h4 class="modal-title" id="taskEditModalHead">Modifier Block Experience</h4>
            </div>
            <form class="form-horizontal" #fExps="ngForm" (ngSubmit)="addExpToCV(fExps.value)">
                <div class="modal-body">
                    <div class="form-group">
                        <ng-multiselect-dropdown class="col-md-8" [placeholder]="'Choisir expérience'" [data]="dlexp"
                            name="exp" #role="ngModel" [(ngModel)]="sIexp" [settings]="dropdownSettings"
                            (onSelect)="onISexp($event)" (onDeSelect)="onIDSexp($event)">
                        </ng-multiselect-dropdown>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END MODALS -->

<!-- MODALS -->
<div id="BlockComp" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="taskEditModalHead"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Fermer</span></button>
                <h4 class="modal-title" id="taskEditModalHead">Modifier Block Compétence</h4>
            </div>
            <form class="form-horizontal" #fComps="ngForm" (ngSubmit)="addCompToCV(fComps.value)">
                <div class="modal-body">
                    <div class="form-group">
                        <ng-multiselect-dropdown class="col-md-8" [placeholder]="'Choisir competence'"
                            [data]="dlcompetence" name="comp" #role="ngModel" [(ngModel)]="sIcompetence"
                            [settings]="dropdownSettings" (onSelect)="onIScompetence($event)"
                            (onDeSelect)="onIDScompetence($event)">
                        </ng-multiselect-dropdown>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END MODALS -->

<!-- MODALS -->
<div id="BlockComp" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="taskEditModalHead"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Fermer</span></button>
                <h4 class="modal-title" id="taskEditModalHead">Modifier Block Competence</h4>
            </div>
            <form class="form-horizontal" #fComp="ngForm" (ngSubmit)="createComp(fComp.value)">
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END MODALS -->


<!-- MODALS -->
<div id="ModalFormation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="taskEditModalHead"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Fermer</span></button>
                <h4 class="modal-title" id="taskEditModalHead">Fromations du CV</h4>
                <label class="switch">
                    <input type="checkbox" checked (click)="activerBlock(1)" value="0" />
                    <span></span>
                </label>
            </div>
            <form class="form-horizontal" #f="ngForm" (ngSubmit)="createFormation(f.value)">
                <div class="modal-body">

                    <tr></tr>
                    <h3>Ajouter une nouvelle formation</h3>
                    <tr></tr>
                    <div class="col-md-12">


                        <div class="form-group">
                            <label class="col-md-2 control-label">Intitulé</label>
                            <div class="col-md-10">
                                <input required ngModel type="text" class="form-control" name="intitule"
                                    [(ngModel)]="formation.intitule" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Établissement</label>
                            <div class="col-md-10">
                                <input required ngModel type="text" class="form-control" name="etablissement"
                                    [(ngModel)]="formation.etablissement" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Adresse</label>
                            <div class="col-md-10">
                                <input required ngModel type="text" class="form-control" name="lieu"
                                    [(ngModel)]="formation.lieu" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Date Début</label>
                            <div class="col-md-5">
                                <input required ngModel type="text" class="form-control datepicker" value="2014-08-04"
                                    name="dateDebut" [(ngModel)]="formation.dateDebut" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Date Fin</label>
                            <div class="col-md-5">
                                <input required ngModel type="text" class="form-control datepicker" value="2014-08-04"
                                    name="dateFin" [(ngModel)]="formation.dateFin" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Détail</label>
                            <div class="col-md-10">
                                <textarea required ngModel class="form-control" rows="5" name="details"
                                    [(ngModel)]="formation.details"></textarea>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END MODALS -->

<!-- MODALS -->
<div id="ModalExp" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="taskEditModalHead"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Fermer</span></button>
                <h4 class="modal-title" id="taskEditModalHead">Experiences du CV</h4>
                <label class="switch">
                    <input type="checkbox" checked (click)="activerBlock(2)" value="0" />
                    <span></span>
                </label>
            </div>
            <form class="form-horizontal" #fExp="ngForm" (ngSubmit)="createExp(fExp.value)">
                <div class="modal-body">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    <h3>Experiences:</h3>
                                </th>
                                <th>
                                    <h3>Ajouter une nouvelle expérience</h3>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="list-group border-bottom col-md-10">
                                        <a href="#" class="list-group-item" *ngFor="let exp of experiences">
                                            <span class="fa fa-circle text-primary"></span>{{exp.descriptionRole}}</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <input required ngModel type="text" class="form-control" name="departement"
                                                [(ngModel)]="exp.departement" placeholder="département" />
                                        </div>
                                        <div class="col-md-6">
                                            <input required ngModel type="text" class="form-control"
                                                name="descriptionRole" [(ngModel)]="exp.descriptionRole"
                                                placeholder="description rôle" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <label class="control-label">Date Début</label>
                                            <input required ngModel type="date" class="form-control" name="dateDebut"
                                                [(ngModel)]="exp.dateDebut" />
                                        </div>
                                        <div class="col-md-6">
                                            <label class="control-label">Date Fin</label>
                                            <input required ngModel type="date" class="form-control" name="dateFin"
                                                [(ngModel)]="exp.dateFin" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <ng-multiselect-dropdown class="col-md-6" [placeholder]="'Choisir poste'"
                                            [data]="dlposte" name="poste" #role="ngModel" [(ngModel)]="sIposte"
                                            [settings]="dropdownSettingsSingle" (onSelect)="onISposte($event)">
                                        </ng-multiselect-dropdown>
                                        <ng-multiselect-dropdown class="col-md-6" [placeholder]="'Choisir societe'"
                                            [data]="dlsociete" name="societe" #role="ngModel" [(ngModel)]="sIsociete"
                                            [settings]="dropdownSettingsSingle" (onSelect)="onISsociete($event)">
                                        </ng-multiselect-dropdown>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END MODALS -->

<!-- MODALS -->
<div id="ModalComp" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="taskEditModalHead"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Fermer</span></button>
                <h4 class="modal-title" id="taskEditModalHead">Competences du CV</h4>
                <label class="switch">
                    <input type="checkbox" checked (click)="activerBlock(3)" value="0" />
                    <span></span>
                </label>
            </div>
            <form class="form-horizontal" #fComp="ngForm" (ngSubmit)="createComp(fComp.value)">
                <div class="modal-body">
                    <div class="form-group">
                        <ng-multiselect-dropdown class="col-md-5" [placeholder]="'Choisir competence'" [data]="dlcomp"
                            name="comp" #role="ngModel" [(ngModel)]="sIcomp" [settings]="dropdownSettingsSingle"
                            (onSelect)="onIScomp($event)">
                        </ng-multiselect-dropdown>
                        <div class="col-md-5">
                            <label class="control-label">Niveau</label>
                            <input type="range" class="defaultSlider" data-min="20" data-max="180" required ngModel
                                name="niveau" [(ngModel)]="comp.niveau">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Détail</label>
                        <span class="col-md-8">
                            <textarea required ngModel class="form-control" rows="3" name="details"
                                [(ngModel)]="comp.details"></textarea>
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END MODALS -->

<!-- MODALS -->
<div id="ModalLng" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="taskEditModalHead"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Fermer</span></button>
                <h4 class="modal-title" id="taskEditModalHead">Langues du CV</h4>
                <label class="switch">
                    <input type="checkbox" checked (click)="activerBlock(4)" value="0" />
                    <span></span>
                </label>
            </div>
            <form class="form-horizontal" #fLng="ngForm" (ngSubmit)="createLng(fLng.value)">
                <div class="modal-body">
                    <div class="form-group">
                        <ng-multiselect-dropdown class="col-md-5" [placeholder]="'Choisir langue'" [data]="dllng"
                            name="lng" #role="ngModel" [(ngModel)]="sIlng" [settings]="dropdownSettingsSingle"
                            (onSelect)="onISlng($event)">
                        </ng-multiselect-dropdown>
                        <div class="col-md-5">
                            <label class="control-label">Niveau</label>
                            <input type="range" class="defaultSlider" data-min="20" data-max="180" required ngModel
                                name="niveau" [(ngModel)]="lng.niveau">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Détail</label>
                        <span class="col-md-8">
                            <textarea required ngModel class="form-control" rows="3" name="details"
                                [(ngModel)]="lng.details"></textarea>
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END MODALS -->

<!-- MODALS -->
<div id="ModalSf" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="taskEditModalHead" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Fermer</span></button>
                <h4 class="modal-title" id="taskEditModalHead">Situations Familiales</h4>
                <label class="switch">
                    <input type="checkbox" checked (click)="activerBlock(5)" value="0" />
                    <span></span>
                </label>
            </div>
            <form class="form-horizontal" #fSF="ngForm" (ngSubmit)="createSf(fSF.value)">
                <div class="modal-body">
                    <div class="form-group">
                        <ng-multiselect-dropdown class="col-md-8" [placeholder]="'Choisir situation familiale'"
                            [data]="dlsf" name="sf" #role="ngModel" [(ngModel)]="sIsf"
                            [settings]="dropdownSettingsSingle" (onSelect)="onISsf($event)">
                        </ng-multiselect-dropdown>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label">Date Début</label>
                            <input required ngModel type="date" class="form-control" name="dd" [(ngModel)]="sf.dd" />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Date Fin</label>
                            <input required ngModel type="date" class="form-control" name="df" [(ngModel)]="sf.df" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END MODALS -->