
            <!-- START BREADCRUMB -->
            <ul class="breadcrumb push-down-0">
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Profiles</a></li>
                <li class="active">Nouveau profil</li>
            </ul>
            <!-- END BREADCRUMB -->
  
            <div class="page-title">
                <h2><span class="fa fa-arrow-circle-o-left"></span>Nouveau Profile</h2>
            </div>
  <div class="page-content-wrap">
  
    <div class="row">
        <div class="col-md-12">
  
            <!-- START WIZARD WITH VALIDATION -->
            <div class="block">
                <form #f="ngForm"  (ngSubmit)="createProfilFormation(f.value)" role="form" class="form-horizontal"
                    id="wizard-validation">
                    <div class="wizard ">
                        <ul>
                            <li>
                                <a href="#step-7">
                                    <span class="stepNumber">1</span>
                                    <span class="stepDesc">Salarié<br /><small>Informations
                                            personnel</small></span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-8">
                                    <span class="stepNumber">2</span>
                                    <span class="stepDesc">Formation<br /><small>Détails</small></span>
                                </a>
                            </li>
                            <li>
                                  <a href="#step-9">
                                      <span class="stepNumber">3</span>
                                      <span class="stepDesc">Competence<br /><small>Détails</small></span>
                                  </a>
                              </li>
                        </ul>
  
                        <div id="step-7">
                          <!--    <form #f="ngForm" (ngSubmit)="createProfil(f.value)">-->
                            <div class="form-group">
                                <label class="col-md-2 control-label">Nom</label>
                                <div class="col-md-6">
                                    <input required ngModel type="text" class="form-control" name="nom"
                                        placeholder="Nom " [(ngModel)]="profil.nom"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Prenom</label>
                                <div class="col-md-6">
                                    <input required ngModel type="text" class="form-control" name="prenom"
                                        placeholder="Prénom " [(ngModel)]="profil.prenom"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Email</label>
                                <div class="col-md-6">
                                    <input required ngModel type="email" class="form-control" name="email"
                                        placeholder="Email " [(ngModel)]="profil.email" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Téléphone</label>
                                <div class="col-md-6">
                                    <input required ngModel type="number" class="form-control" name="tel"
                                        placeholder="Téléphone " [(ngModel)]="profil.tel" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">CIN</label>
                                <div class="col-md-6">
                                    <input required ngModel type="text" class="form-control" name="cin"
                                        placeholder="CIN" [(ngModel)]="profil.cin" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Adresse</label>
                                <div class="col-md-6">
                                    <input required ngModel type="text" class="form-control" name="adresse"
                                        placeholder="Adresse " [(ngModel)]="profil.adresse" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Date de naissance</label>
                                <div class="col-md-5">
                                    <input required ngModel type="text" class="form-control datepicker" value="2014-08-04"
                                        name="dateNaissance" [(ngModel)]="profil.dateNaissance">
                                </div>
                            </div>
                            <div class="form-group">
                                  <label class="col-md-2 control-label">CNSS</label>
                                  <div class="col-md-6">
                                    <input required ngModel type="text" class="form-control" name="cnss"
                                         placeholder="N° CNSS " [(ngModel)]="profil.cnss" />
                                  </div>
                            </div>
                            <div class="form-group">
                                  <label class="col-md-2 control-label">CIMR</label>
                                  <div class="col-md-6">
                                    <input required ngModel type="text" class="form-control" name="cimr"
                                         placeholder="N° CIMR " [(ngModel)]="profil.cimr" />
                                  </div>
                            </div>
                            <div class="form-group">
                                  <label class="col-md-2 control-label">Civilité</label>
                                  <div class="col-md-6">
                                    <input required ngModel type="text" class="form-control" name="civilite"
                                         placeholder="Mr/Mme/Mlle " [(ngModel)]="profil.civilite" />
                                  </div>
                            </div>
                            <div class="form-group">
                                  <label class="col-md-2 control-label">Premis</label>
                                  <div class="col-md-6">
                                    <input required ngModel type="text" class="form-control" name="permisConduite"
                                         placeholder="A/B... " [(ngModel)]="profil.permisConduite" />
                                  </div>
                            </div>
                            <div class="form-group">
                                  <label class="col-md-2 control-label">RIB</label>
                                  <div class="col-md-6">
                                    <input required ngModel type="text" class="form-control" name="rib"
                                         placeholder="N° identité bancaire " [(ngModel)]="profil.rib" />
                                  </div>
                            </div>
                            <div class="form-group">
                                  <label class="col-md-2 control-label">Photo</label>
                                  <div class="col-md-6">
                                    <input required ngModel type="file" accept="image/*"  class="form-control" name="photo"
                                         placeholder="photo " [(ngModel)]="profil.photo" />
                                         
                            <!--<button [disabled]="!f.valid" type="submit"  class="btn btn-success" >Create</button>-->
                                  </div>
                            </div>
                       <!--  </form>-->
                        </div>
                        <div id="step-8">
  
                            <div class="form-group">
                                <label class="col-md-2 control-label">Intitulé</label>
                                <div class="col-md-10">
                                    <input required ngModel  type="text" class="form-control" 
                                    name="intitule" [(ngModel)]="formation.intitule"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Établissement</label>
                                <div class="col-md-10">
                                    <input required ngModel type="text" class="form-control" 
                                    name="etablissement" [(ngModel)]="formation.etablissement" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Adresse</label>
                                <div class="col-md-10">
                                    <input required ngModel type="text" class="form-control"
                                     name="lieu" [(ngModel)]="formation.lieu" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Date Début</label>
                                <div class="col-md-5">
                                    <input required ngModel type="text" class="form-control datepicker" value="2014-08-04"
                                        name="dateDebut" [(ngModel)]="formation.dateDebut" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Date Fin</label>
                                <div class="col-md-5">
                                    <input required ngModel type="text" class="form-control datepicker" value="2014-08-04"
                                        name="dateFin" [(ngModel)]="formation.dateFin"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Détail</label>
                                <div class="col-md-10">
                                    <textarea required ngModel class="form-control" rows="5"
                                    name="details" [(ngModel)]="formation.details"></textarea>
                                    <button [disabled]="!f.valid"  type="submit"  class="btn btn-success"  >Create</button>
                                 
                                </div>
                            </div>
                          
                        </div>
                        <div id="step-9">
                                <div class="form-group">
                                        <ng-multiselect-dropdown class="col-md-4"
                                        [placeholder]="'Choisir competence'"
                                        [data]="dlcompetence"
                                        name="competence"
                                        #role="ngModel"
                                        [(ngModel)]="sIcompetence"
                                        [settings]="dropdownSettings"
                                        (onSelect)="onIS($event)"
                                        (onSelectAll)="onSA($event)"
                                      >
                                      </ng-multiselect-dropdown>
                                      <ng-multiselect-dropdown class="col-md-4"
                                        [placeholder]="'Choisir langues'"
                                        [data]="dllangue"
                                        name="langues"
                                        #role="ngModel"
                                        [(ngModel)]="sIlangue"
                                        [settings]="dropdownSettings"
                                        (onSelect)="onIS($event)"
                                        (onSelectAll)="onSA($event)"
                                      >
                                      </ng-multiselect-dropdown>
                                      <ng-multiselect-dropdown class="col-md-4"
                                        [placeholder]="'Choisir Secteur Activite'"
                                        [data]="dlsecteurActivite"
                                        name="Secteur Activite"
                                        #role="ngModel"
                                        [(ngModel)]="sIsecteurActivite"
                                        [settings]="dropdownSettings"
                                        (onSelect)="onIS($event)"
                                        (onSelectAll)="onSA($event)"
                                      >
                                      </ng-multiselect-dropdown>
                                </div>
                                <div class="form-group">
                                      <ng-multiselect-dropdown class="col-md-4"
                                        [placeholder]="'Choisir Situation Familiale'"
                                        [data]="dlsituationFamiliale"
                                        name="Situation Familiale"
                                        #role="ngModel"
                                        [(ngModel)]="sIsituationFamiliale"
                                        [settings]="dropdownSettings"
                                        (onSelect)="onIS($event)"
                                        (onSelectAll)="onSA($event)"
                                      >
                                      </ng-multiselect-dropdown>
                                      <ng-multiselect-dropdown class="col-md-4"
                                        [placeholder]="'Choisir Type Contrat'"
                                        [data]="dltypeContrat"
                                        name="Type Contrat"
                                        #role="ngModel"
                                        [(ngModel)]="sItypeContrat"
                                        [settings]="dropdownSettings"
                                        (onSelect)="onIS($event)"
                                        (onSelectAll)="onSA($event)"
                                      >
                                      </ng-multiselect-dropdown>
                                      <ng-multiselect-dropdown class="col-md-4"
                                        [placeholder]="'Choisir Type Profil'"
                                        [data]="dltypeProfil"
                                        name="Type Profil"
                                        #role="ngModel"
                                        [(ngModel)]="sItypeProfil"
                                        [settings]="dropdownSettings"
                                        (onSelect)="onIS($event)"
                                        (onSelectAll)="onSA($event)"
                                      >
                                      </ng-multiselect-dropdown>
                                </div>
                                <div class="form-group"><p></p></div>
                                <div class="form-group"><p></p></div>
                                <div class="form-group"><p></p></div>
                                <div class="form-group"><p></p></div>
                                <div class="form-group"><p></p></div>
                                <div class="form-group"><p></p></div>
                            </div>
                         </div>   
                   </form> 
            </div>
            <!-- END WIZARD WITH VALIDATION -->
  
        </div>
  
    </div>
  
  </div>
  <!-- PAGE CONTENT WRAPPER -->
  
  