<!-- START BREADCRUMB -->
<ul class="breadcrumb push-down-0">
    <li><a href="#">Accueil</a></li>
    <li><a href="#">Profiles</a></li>
    <li class="active">Nouveau profil</li>
</ul>
<!-- END BREADCRUMB -->

<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-left"></span>Nouveau Profil</h2>
</div>
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">

            <!-- START WIZARD WITH VALIDATION -->
            <div class="block">
                <form #f="ngForm" (ngSubmit)="createProfilFormation(f.value)" role="form" class="form-horizontal"
                    id="wizard-validation">
                    <div class="wizard">
                        <ul>
                            <li>
                                <a href="#step-7">
                                    <span class="stepNumber">1</span>
                                    <span class="stepDesc">Profil<br /><small>Informations
                                            personnel</small></span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-8">
                                    <span class="stepNumber">2</span>
                                    <span class="stepDesc">Formation<br /><small>Détails</small></span>
                                </a>
                            </li>
                            <!--
                            <li>
                                  <a href="#step-9">
                                      <span class="stepNumber">3</span>
                                      <span class="stepDesc">Competence<br /><small>Détails</small></span>
                                  </a>
                              </li>
                              -->
                        </ul>
                        <div id="step-7">

                            <!-- <form #f="ngForm" (ngSubmit)="createProfil(f.value)">  -->
                            <div class="form-group">
                                <!--   <label class="col-md-2 control-label">Nom</label> -->

                                <div class=" col-md-12">
                                    <div class=" col-md-4">
                                        <input required ngModel type="text" class="form-control" name="nom"
                                            placeholder="Nom " [(ngModel)]="profil.nom" pattern="[a-zA-ZÀ-ÿ]">
                                    </div>
                                    <div class=" col-md-4">
                                        <input required ngModel type="text" class="form-control" name="prenom"
                                            placeholder="Prénom " [(ngModel)]="profil.prenom" pattern="[a-zA-ZÀ-ÿ]" />
                                    </div>
                                    <div class=" col-md-4">
                                        <input required ngModel type="email" class="form-control" name="email"
                                            placeholder="Email " [(ngModel)]="profil.email" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class=" col-md-4">
                                        <input required ngModel type="tel" class="form-control" name="tel"
                                            placeholder="Téléphone " pattern="[0]{1}[6-7]{1}[0-9]{8}"
                                            [(ngModel)]="profil.tel" />
                                    </div>
                                    <div class=" col-md-8">
                                        <input required ngModel type="text" class="form-control" name="adresse"
                                            placeholder="Adresse " [(ngModel)]="profil.adresse" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <input required ngModel type="text" class="form-control" name="cin"
                                            placeholder="CIN" [(ngModel)]="profil.cin" />

                                    </div>
                                    <div class="col-md-4">
                                        <input required ngModel type="text" class="form-control" name="permisConduite"
                                            placeholder="Premis A/B... " [(ngModel)]="profil.permisConduite" />

                                    </div>
                                    <div class="col-md-4">
                                        <input required ngModel type="text" class="form-control datepicker"
                                            value="1978-08-04" name="dateNaissance" placeholder="Date de Naissance"
                                            [(ngModel)]="profil.dateNaissance">

                                    </div>


                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <input required ngModel type="text" class="form-control" name="cnss"
                                            placeholder="N° CNSS " [(ngModel)]="profil.cnss" />
                                    </div>
                                    <div class="col-md-4">
                                        <input required ngModel type="text" class="form-control " name="cimr"
                                            placeholder="N° CIMR " [(ngModel)]="profil.cimr" />
                                    </div>
                                    <div class="col-md-4">
                                        <input required ngModel type="text" class="form-control " name="civilite"
                                            placeholder="Mr/Mme/Mlle " [(ngModel)]="profil.civilite" />
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="col-md-8">
                                        <input required ngModel type="text" class=" form-control" name="rib"
                                            placeholder="N° identité bancaire " [(ngModel)]="profil.rib" />
                                    </div>
                                    <div class="col-md-4">
                                            <input required ngModel type="file" (change)="onSelectFile($event)"
                                            class="form-control" name="photo"
                                            placeholder="photo"  [(ngModel)]="profil.photo" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                    <button type="submit" class="btn btn-success">Create</button>
                                </div>
                            <!--  </form>-->
                        </div>
                        <div id="step-8">
                            <!-- START DEFAULT DATATABLE -->
          <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Liste des formation</h3>
                    <ul class="panel-controls">
                        <li><button type="button" data-toggle="modal" data-target="#ModalFormation" class="btn btn-info">Ajouter Formation
                            </button></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>Intitulé</th>
                                <th>Établissement</th>
                                <th>Adresse</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let formation of formations">
                                <td>{{formation.intitule}}</td>
                                <td>{{formation.etablissement}}</td>
                                <td>{{formation.lieu}}</td>
                                <td>
                                  
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END DEFAULT DATATABLE -->

                            

                        </div>
                        <!--
                        <div id="step-9" *ngIf="!f.valid">
                                <div class="form-group">
                                        <ng-multiselect-dropdown class="col-md-4"
                                        [placeholder]="'Choisir competence'"
                                        [data]="dlcompetence"
                                        name="competence"
                                        #role="ngModel"
                                        [(ngModel)]="sIcompetence"
                                        [settings]="dropdownSettings"
                                        (onSelect)="onIS($event)"
                                        (onSelectAll)="onSA($event)"
                                      >
                                      </ng-multiselect-dropdown>
                                      <ng-multiselect-dropdown class="col-md-4"
                                        [placeholder]="'Choisir langues'"
                                        [data]="dllangue"
                                        name="langues"
                                        #role="ngModel"
                                        [(ngModel)]="sIlangue"
                                        [settings]="dropdownSettings"
                                        (onSelect)="onIS($event)"
                                        (onSelectAll)="onSA($event)"
                                      >
                                      </ng-multiselect-dropdown>
                                      <ng-multiselect-dropdown class="col-md-4"
                                        [placeholder]="'Choisir Secteur Activite'"
                                        [data]="dlsecteurActivite"
                                        name="Secteur Activite"
                                        #role="ngModel"
                                        [(ngModel)]="sIsecteurActivite"
                                        [settings]="dropdownSettings"
                                        (onSelect)="onIS($event)"
                                        (onSelectAll)="onSA($event)"
                                      >
                                      </ng-multiselect-dropdown>
                                </div>
                                <div class="col-md-12"></div>
                                <div class="col-md-12"></div>
                                <div class="form-group">
                                      <ng-multiselect-dropdown class="col-md-4"
                                        [placeholder]="'Choisir Situation Familiale'"
                                        [data]="dlsituationFamiliale"
                                        name="Situation Familiale"
                                        #role="ngModel"
                                        [(ngModel)]="sIsituationFamiliale"
                                        [settings]="dropdownSettings"
                                        (onSelect)="onIS($event)"
                                        (onSelectAll)="onSA($event)"
                                      >
                                      </ng-multiselect-dropdown>
                                      <ng-multiselect-dropdown class="col-md-4"
                                        [placeholder]="'Choisir Type Contrat'"
                                        [data]="dltypeContrat"
                                        name="Type Contrat"
                                        #role="ngModel"
                                        [(ngModel)]="sItypeContact"
                                        [settings]="dropdownSettings"
                                        (onSelect)="onIS($event)"
                                        (onSelectAll)="onSA($event)"
                                      >
                                      </ng-multiselect-dropdown>
                                      <ng-multiselect-dropdown class="col-md-4"
                                        [placeholder]="'Choisir Type Profil'"
                                        [data]="dltypeProfil"
                                        name="Type Profil"
                                        #role="ngModel"
                                        [(ngModel)]="sItypeProfil"
                                        [settings]="dropdownSettings"
                                        (onSelect)="onIS($event)"
                                        (onSelectAll)="onSA($event)"
                                      >
                                      </ng-multiselect-dropdown>
                                </div>
                                <div class="col-md-12"></div>
                                <div class="col-md-12"></div>
                                <div class="col-md-9"></div>
                                <div class="col-md-3"> -->
                        <!--</button>[disabled]="!f.valid"
                                    <button   type="submit"  class="btn btn-success"  >Create</button>
                                </div>
                            </div>-->
                    </div>
                </form>
            </div>
            <!-- END WIZARD WITH VALIDATION -->

        </div>

    </div>

</div>
<!-- PAGE CONTENT WRAPPER -->

<!-- MODALS -->
<div id="ModalFormation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="taskEditModalHead"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Fermer</span></button>
                <h4 class="modal-title" id="taskEditModalHead">Fromations du CV</h4>
              
            </div>
            <form class="form-horizontal" #f_formation="ngForm" (ngSubmit)="createFormation(f_formation.value)">
                <div class="modal-body">

                    <tr></tr>
                    <h3>Ajouter une nouvelle formation</h3>
                    <tr></tr>
                    <div class="col-md-12">


                        <div class="form-group">
                            <label class="col-md-2 control-label">Intitulé</label>
                            <div class="col-md-10">
                                <input required ngModel type="text" class="form-control" name="intitule"
                                    [(ngModel)]="formation.intitule" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Établissement</label>
                            <div class="col-md-10">
                                <input required ngModel type="text" class="form-control" name="etablissement"
                                    [(ngModel)]="formation.etablissement" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Adresse</label>
                            <div class="col-md-10">
                                <input required ngModel type="text" class="form-control" name="lieu"
                                    [(ngModel)]="formation.lieu" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Date Début</label>
                            <div class="col-md-5">
                                <input required ngModel type="text" class="form-control datepicker" value="2014-08-04"
                                    name="dateDebut" [(ngModel)]="formation.dateDebut" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Date Fin</label>
                            <div class="col-md-5">
                                <input required ngModel type="text" class="form-control datepicker" value="2014-08-04"
                                    name="dateFin" [(ngModel)]="formation.dateFin" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Détail</label>
                            <div class="col-md-10">
                                <textarea required ngModel class="form-control" rows="5" name="details"
                                    [(ngModel)]="formation.details"></textarea>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END MODALS -->