<div class="error-container">
    <div class="error-code">403</div>
    <div class="error-text">Accès refusé/interdit</div>
    <div class="error-subtext">vous ne possédez pas l’autorisation d’appeler spécifiquement cette URL</div>
    <div class="error-actions">                                
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-info btn-block btn-lg" onClick="document.location.href = 'erecrute/home';">Tableau de bord</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary btn-block btn-lg" onClick="history.back();">Page précédente</button>
            </div>
        </div>                                
    </div>
    <div class="error-subtext">Ou vous pouvez utiliser la recherche pour trouver tout ce dont vous avez besoin.</div>
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <input type="text" placeholder="Rechercher..." class="form-control"/>
                <div class="input-group-btn">
                    <button class="btn btn-primary"><span class="fa fa-search"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>   